* {
    box-sizing: border-box;
    margin: 0;
    text-decoration: none;
    padding: 0;
    list-style: none;
    text-transform: capitalize;
  }
  
  body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 17px;
    
 }
 #logo{
  width: 50px;
  height: 50px; 
  margin-top: -10px;
}
#co{
  background-color: black;
 }
#span{
 background-color: white;
}
 #b{
   color: orange;
   font-size: 30px;
   font-family: serif;
   font-style: oblique;
   margin-top: 10px;
  }
 #c{
  color: orange;
   font-weight: bold;
   font-size: 15px;
   font-family: serif;
   font-style: oblique;
   margin-top: 10px
 }
.a{
    background-color: lightgray;  
    margin-top: 10%;
    font-size: 18px;
    font-family:sans-serif;
}

    /* ------------footer-------------- */
    .footer-distributed{
      background-color: #2c292f;
      font: bold 16px sans-serif;
      padding: 50px 50px 60px 50px;
      margin-top: 80px;
    }
    .footer-distributed .footer-left,
    .footer-distributed .footer-center,
    .footer-distributed .footer-right{
      display: inline-block;
      vertical-align: top;
    }
    .footer-distributed .footer-left{
      width: 30%;
    }
    
    .footer-distributed h3{
      color:  #ffffff;
      font-family: Arial, Helvetica, sans-serif;
      font-size: 30px;
      margin: 0;
    }
      
    .footer-distributed h3 span{
      color:  #e0ac1c;
    }
    
    .footer-distributed .footer-links{
      color:  #ffffff;
      margin: 20px 0 12px;
    }
    
    .footer-distributed .footer-links a{
      display:inline-block;
      line-height: 1.8;
      text-decoration: none;
      color:  inherit;
    }
    
    .footer-distributed .footer-company-name{
      color:  #8f9296;
      font-size: 14px;
      font-weight: normal;
      margin: 0;
    }
    
    /* Footer Center */
    
    .footer-distributed .footer-center{
      width: 35%;
    }
    .footer-distributed .footer-center i{
      background-color:  #33383b;
      color: #ffffff;
      font-size: 25px;
      width: 38px;
      height: 38px;
      border-radius: 50%;
      text-align: center;
      line-height: 42px;
      margin: 10px 15px;
    }
    
    .footer-distributed .footer-center i.fa-envelope{
      font-size: 17px;
      line-height: 38px;
    }
    
    .footer-distributed .footer-center p{
      display: inline-block;
      color: #ffffff;
      margin:0;
    }
    
    .footer-distributed .footer-center p span{
      font-weight: normal;
      font-size:14px;
      line-height:2;
    }
    
    .footer-distributed .footer-center p a{
      color:  #e0ac1ca4;
      text-decoration: none;;
    }
    
    
    .footer-distributed .footer-right{
      width: 30%;
    }
    
    .footer-distributed .footer-company-about{
      line-height: 20px;
      color:  #92999f;
      font-size: 13px;
      font-weight: normal;
      margin: 0;
    }
    
    .footer-distributed .footer-company-about span{
      display: block;
      color:  #ffffff;
      font-size: 18px;
      font-weight: bold;
      margin-bottom: 20px;
    }
    
    .footer-distributed .footer-icons{
      margin-top: 25px;
    }
    
    .footer-distributed .footer-icons a{
      display: inline-block;
      width: 35px;
      height: 35px;
      background-color:  #33383b;
      border-radius: 12px;
      font-size: 20px;
      color: #ffffff;
      text-align: center;
      line-height: 35px;    
    }
    @media (max-width: 880px) {
    
      .footer-distributed .footer-left,
      .footer-distributed .footer-center,
      .footer-distributed .footer-right{
        display: block;
        width: 100%;
        margin-bottom: 40px;
        text-align: center;
      }
    }
    /* ---------contect-------- */
#body
  {
    background-color: grey;
    }
